<footer id="footer" class="container-fluid text-center p-4">
  <div class="row">
    <div class="col">
      <h5>Compras</h5>
      <ul class="list-unstyled">
        <li><a href="../index.html">Produtos</a></li>
        <li><a href="../carrinho.html">Carrinho</a></li>
      </ul>
    </div>
    <div class="col">
      <h5>Institucional</h5>
      <ul class="list-unstyled">
        <li>
          <a href="../politica-de-privacidade.html">Política de Privacidade</a>
        </li>
        <li><a href="../duvida-frequenteshtml.html">Dúvida Frequentes</a></li>
        <li><a href="../troca.html">Troca</a></li>
      </ul>
    </div>
  </div>
</footer>
